<events>
  <event>
    <name>Arrival of Ethan and Jayden</name>
    <html>albums/birth/arrival-H/index.html</html>
    <flash>/albums/birth/arrival-S/index.html</flash>
    <linkText>Check out photos from the event here</linkText>
    <description>Ethan and Jayden have finally arrived.  Born August 9th, 2012!!</description>
    <image>events/birth.JPG</image>
    <orientation>landscape</orientation>
    <date>August 9, 2012</date>
  </event>
  <event>
    <name>Baby Shower with Tennis Friends</name>
    <html>albums/tennisShower/baby-H/index.html</html>
    <flash>/albums/tennisShower/baby-S/index.html</flash>
	<linkText>Check out photos from the event here</linkText>
    <description>I have the best teammates in the world.  Special thanks to Lynley, Lien and Tammy for putting this together.</description>
    <image>events/babyshowertennis.jpg</image>
	<orientation>landscape</orientation>
    <date>July 8, 2012</date>
  </event>
  <event>
    <name>Baby Shower</name>
    <html>albums/shower/baby-H/index.html</html>
    <flash>/albums/shower/baby-S/index.html</flash>
	<linkText>Check out photos from the event here</linkText>
    <description>Ethan and Jayden enjoyed their baby shower.  They loved seeing all their friends and family.  They especially love all the gifts they got.</description>
    <image>events/babyshower.JPG</image>
	<orientation>landscape</orientation>
    <date>June 16, 2012</date>
  </event>
  <event>
    <name>Baby Room</name>
    <description>The decorations for the baby room is finally complete.  Special thanks to Yvonne for the banner.</description>
    <image>events/room.jpg</image>
	<orientation>landscape</orientation>
    <date>June 15, 2012</date>
  </event>
</events>
