<events>
  <event>
    <name>Hanging out with Auntie Suzie and Auntie Michelle</name>
    <description>Auntie Suzie and Auntie Michelle came over to play on Cinco de Mayo.</description>
    <image>events/SuzieandMichelle.JPG</image>
    <orientation>landscape</orientation>
    <date>May 5, 2013</date>
  </event>
  <event>
    <name>Aunt Suzie</name>
    <description>Auntie Suzie can handle twins...no problem.  One baby will be a piece of cake! ;)</description>
    <image>events/Suzie.JPG</image>
    <orientation>landscape</orientation>
    <date>May 5, 2013</date>
  </event>
  <event>
    <name>Chillin</name>
    <description>Getting held all day long.  What a great Sunday!</description>
    <image>events/MandS.JPG</image>
    <orientation>landscape</orientation>
    <date>May 5, 2013</date>
  </event>
  <event>
    <name>Laughing at Grandma</name>
    <description>Jayden is cracking up at the way Grandma sneezes</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/U1tRJWKgorw?rel=0</link>
    <orientation>landscape</orientation>
    <date>April 30, 2013</date>
  </event>
  <event>
    <name>Hawaiian Hunks</name>
    <description>Hawaiian hunks hanging out in the their birthday suit.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/c_fXOxyFZH0?rel=0</link>
    <orientation>landscape</orientation>
    <date>April 29, 2013</date>
  </event>  
  <event>
    <name>Beautiful Day</name>
    <html>albums/6to8months/photos-H/index.html</html>
    <flash>/albums/6to8months/photos-S/index.html</flash>
    <linkText>Check out more photos from the day and from the last few months.</linkText>
    <description>It was a beautiful day to be outside.  Aunt Pam, Aunt Patty, Mia and Chasen came over to play.</description>
    <image>events/LamFriends.JPG</image>
    <orientation>landscape</orientation>
    <date>April 21, 2013</date>
  </event>
  <event>
    <name>Two little monkeys</name>
    <description>Ethan and Jayden playing together in their crib</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/9eYzJCu9Zxc?rel=0</link>
    <orientation>landscape</orientation>
    <date>April 15, 2013</date>
  </event> 
  <event>
    <name>Slap Jack</name>
    <description>Jayden playing a silly game with dad.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/Yv1ozbe8uOI?rel=0</link>
    <orientation>landscape</orientation>
    <date>March 12, 2013</date>
  </event> 
  <event>
    <name>Happy Babies</name>
    <description>Daddy makes funny kissing sounds.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/AMnVVtwKtQo?rel=0</link>
    <orientation>landscape</orientation>
    <date>Jan 22, 2013</date>
  </event> 
  <event>
    <name>Hanging with my SB Aunties</name>
    <description>Meeting some of my UCSB Aunties for the first time.</description>
    <image>events/SBAunties.JPG</image>
    <orientation>landscape</orientation>
    <date>January 19, 2013</date>
  </event>
  <event>
    <name>Arrival of Ethan and Jayden</name>
    <html>albums/birth/arrival-H/index.html</html>
    <flash>/albums/birth/arrival-S/index.html</flash>
    <linkText>Check out photos from the event here</linkText>
    <description>Ethan and Jayden have finally arrived.  Born August 9th, 2012!!</description>
    <image>events/birth.JPG</image>
    <orientation>landscape</orientation>
    <date>August 9, 2012</date>
  </event>
  <event>
    <name>Baby Shower with Tennis Friends</name>
    <html>albums/tennisShower/baby-H/index.html</html>
    <flash>/albums/tennisShower/baby-S/index.html</flash>
	<linkText>Check out photos from the event here</linkText>
    <description>I have the best teammates in the world.  Special thanks to Lynley, Lien and Tammy for putting this together.</description>
    <image>events/babyshowertennis.jpg</image>
	<orientation>landscape</orientation>
    <date>July 8, 2012</date>
  </event>
  <event>
    <name>Baby Shower</name>
    <html>albums/shower/baby-H/index.html</html>
    <flash>/albums/shower/baby-S/index.html</flash>
	<linkText>Check out photos from the event here</linkText>
    <description>Ethan and Jayden enjoyed their baby shower.  They loved seeing all their friends and family.  They especially love all the gifts they got.</description>
    <image>events/babyshower.JPG</image>
	<orientation>landscape</orientation>
    <date>June 16, 2012</date>
  </event>
  <event>
    <name>Baby Room</name>
    <description>The decorations for the baby room is finally complete.  Special thanks to Yvonne for the banner.</description>
    <image>events/room.jpg</image>
	<orientation>landscape</orientation>
    <date>June 15, 2012</date>
  </event>
</events>
