<events>
  <event>
    <name>Baby Shower</name>
    <html>albums/shower/baby-H/index.html</html>
    <flash>/albums/shower/baby-S/index.html</flash>
	<linkText>Check out photos from the event here</linkText>
    <description>Ethan and Jayden enjoyed their baby shower.  They loved seeing all their friends and family.  They especially love all the gifts they got.</description>
    <image>events/babyshower.JPG</image>
	<orientation>landscape</orientation>
    <date>June 16, 2012</date>
  </event>
  <event>
    <name>Baby Room</name>
    <description>The decorations for the baby room is finally complete.  Special thanks to Yvonne for the banner.</description>
    <image>events/room.jpg</image>
	<orientation>landscape</orientation>
    <date>June 15, 2012</date>
  </event>
</events>
