<events>
  <event>
    <name>Ultrasound Day</name>
    <html>albums/prebirth/preg-H/index.html</html>
    <flash>/albums/prebirth/preg-S/index.html</flash>
    <description>Second update.  Jayden is now 20 weeks new.</description>
    <image>events/Jayden_20weeks.jpg</image>
    <date>May 5, 2012</date>
  </event>
  <event>
    <name>Ultrasound Day</name>
    <html>albums/prebirth/preg-H/index.html</html>
    <flash>/albums/prebirth/preg-S/index.html</flash>
    <description>Second update.  Jayden is now 20 weeks new.</description>
    <image>events/Jayden_20weeks.jpg</image>
    <date>May 5, 2012</date>
  </event>
</events>
