.headlines {
	font-size:      18px;
    font-weight:    bold;
    margin-left:   20px;
    margin-top:    20px;
}
.event_text {
	font-weight:   bold;
	font-size:     14px;
	margin-bottom: 5px;
}
.center {
	text-align:    center;
}
.event_description {
	font-size:     12px;
	margin-left:   100px;
	margin-right:  100px;
	margin-top:    10px;
	margin-bottom: 40px;
}
.events {
	overflow-y:  scroll;
}