@charset "utf-8";
/* CSS Document */

.photo {
    float:              left;    
    margin:             25px;
    witdh:              350px;
}
.description {
    float:         left;
    margin:        25px;
    font-size:     16px;
    font-weight:   bold;
    width:         325px;
}
.welcomeMsg {
    font-size:     14px;
    font-weight:   bold;
    margin-bottom: 30px;
}
.ultrasounds {
    clear:         both;
    font-size:     16px;    
    font-weight:   bold;
    margin-left:   25px;
    margin-bottom: 10px;
}
.thumbnails {
    float:     left;
    margin-left: 25px;
}
.thumb {
    border: 1px solid #000;
}
#bigphoto {
    display:    none;
    position:   absolute;
    top:         200px;
    left:        300px;
    border:        1px solid #fff;
    background-color:    #fff;
    text-align:    center;
}